<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    <header class="header">
        {% if user.is_authenticated %}
            <a href="{% url "my_lists" %}">{{ user.username }}</a>
            <form method="post" action="{% url "logout" %}">
                {% csrf_token %}
                <input type="submit" value="Выйти">
            </form>
            {% if user.subscription %}
                <p>{{ user.subscription}} активна</p>
            {% else %}
                <p>Обычный аккаунт</p>
            {% endif %}
        {% else %}
            <a href="{% url "login" %}">Войти</a>
        {% endif %}
    </header>

    <main class="main">
        {% block main %}{% endblock main %}
    </main>
</body>
</html>
