{% extends "base.html" %}

{% block title %}
Мои задачники
{% endblock title %}

{% block main %}
<h1>Ваши задачники [{{ todolists|length }}/{{ user.get_max_lists }}]</h1>
    {% if todolists|length < user.get_max_lists %}
        <a href="{% url "create_list" %}">Создать задачник</a>
    {% else %}
        <p>
            Вы создали максимальное количество задачников. 
            Вы можете приобрести подписку и увеличить количество задачников.
        </p>
    {% endif %}
    {% if todolists %}
        {% for list in todolists %}
            <div class="todo_list">
                <h3><a href="{{ list.get_absolute_url }}">{{ list.title }}</a></h3>
                <p>{{ list.description }}</p>
                <p>Дата создания: {{ list.create_date }}</p>
                <p>Всего задач: {{ list.tasks.all|length }}</p>
                <p>Выполненных здач: {{ list.get_completed_tasks|length }}</p>
            </div>
        {% endfor %}
    {% else %}
        <h2>Хм, похоже, вы еще не создали ни одного списка... Вы можете сделать это 
            <a href="{% url "create_list" %}">здесь</a></h2>
    {% endif %}
{% endblock main %}
