{% extends "base.html" %}

{% block title %}
    Задачник {{ list.title }}
{% endblock title %}

{% block main %}

    <h1>{{ list.title }}</h1>
    <a href="{% url "delete_list" list.slug %}">Удалить</a>
    <h2>Задачи {{ list.tasks.all|length }}/{{ user.get_max_tasks_by_list }}:</h2>

    {% for task in list.tasks.all %}
        <form method="get" action="{% url 'current_list' list.slug %}">
            Статус: {{ task.get_read_status }}
            <label for="{{ task.title }}">{{ task.title }}</label>
            {% if task.is_completed %}
                <input type="submit" name="{{ task.title }}" value="Не выполнено">
            {% else %}
                <input type="submit" name="{{ task.title }}" value="Выполнено">
            {% endif %}
            Приоритет: {{ task.priority }} 
        </form>
        
        <form action="{% url "delete_task" task.pk %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Удалить задачу">
        </form>
    {% endfor %}

    <h2>Добавьте задачу</h2>
    <form method="post">
        {{ add_task_form.as_p }}
        {% csrf_token %}
        <input type="submit" value="Добавить">
    </form>

{% endblock main %}
