{% extends "base.html" %}

{% block title %}
    Подписка
{% endblock title %}

{% block main %}

    {% for sub in subs %}
        <div class="subscription">
            
            <h3>{{ sub.name }} {% if user.subscription.name == sub.name %}(Активна){% endif %}</h3>
            
            <hr>
            <ul>
                <li>
                    Прибавка к количеству задачников - {{ sub.add_todolists }}: {{ sub.get_todolist_increase }}
                </li>
                <li>
                    Прибавка к задачам в одном задачнике - {{ sub.add_tasks_by_list }}: {{ sub.get_tasks_increase }}
                </li> 
            </ul>
        </div>
    {% endfor %}

{% endblock main %}
